---
import MainLayout from "@layouts/MainLayout.astro";
import Avatar from "@components/Avatar.astro";
import LinksLayout from "@layouts/LinksLayout.astro";
import Link from "@components/Link.astro";
import Social from "@components/Social.astro";
const links = await Astro.glob("./links/*.md");
---

<MainLayout title="jpc.links">
  <Avatar />
  <LinksLayout>
    {
      links.map((link) => {
        return (
          <Link
            linkTitle={link.frontmatter.linkTitle}
            linkDescription={link.frontmatter.linkDescription}
            linkUrl={link.frontmatter.linkURL}
            web={link.frontmatter.web}
            ios={link.frontmatter.ios}
            android={link.frontmatter.android}
          />
        );
      })
    }
  </LinksLayout>
  <div style={{ color: "white" }}>
    I also self-host:
    <ol>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- freshrss</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- jellyfin</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- navidrome</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- audiobookshelf</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- calibre-web</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- immich</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- libreddit</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- invidious</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- excalidraw</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- heyform</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- rallly</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;- chatbot-ui</li>
    </ol>
    <br />
    Contact me if you'd like access.
  </div>
  <Social />
</MainLayout>
