---
import iosPng from "@assets/ios.png";
import androidPng from "@assets/android.png";
import webPng from "@assets/web.png";
const { linkTitle, linkDescription, linkUrl, web, ios, android } = Astro.props;
---

<div class="flex flex-col items-center w-full gap-y-8">
  <div
    class="flex flex-col justify-center cursor-pointer w-full p-4 text-sm text-center text-white transition-all duration-500 bg-white bg-opacity-20 backdrop-filter backdrop-blur-lg rounded-xl lg:text-xl hover:bg-opacity-40 hover:scale-110"
  >
    <a href={linkUrl}
      ><button
        ><div class="font-semibold">
          {linkTitle}{" "}{
            android ? (
              <>
                <img
                  style={{ display: "inline", width: "20px" }}
                  src={androidPng.src}
                  alt="androidPng"
                />
                {"  "}
              </>
            ) : (
              ""
            )
          }{
            ios ? (
              <>
                <img
                  style={{ display: "inline", width: "20px" }}
                  src={iosPng.src}
                  alt="iosPng"
                />
                {"  "}
              </>
            ) : (
              ""
            )
          }{
            web ? (
              <>
                {/* <img
                  style={{ display: "inline", width: "20px" }}
                  src={webPng.src}
                  alt="webPng"
                />{"  "} */}
              </>
            ) : (
              ""
            )
          }
        </div>{linkDescription}</button
      >
    </a>
  </div>
</div>
